body{
    background-color:palegoldenrod;
}
.i1{
    
    color: red;
}
.i2{
    color: blueviolet;
}
.i3{
    color: green;
}
.i4{
    color: darksalmon;
}
.i5{
    color: tomato;
}
.i6{
    color: darkgreen;
}